.calendar {
    width: 305px;
    height: 230px;
    background-color: var(--main-color);
    position: absolute;
    top: 450px;
    left: 1205px;
    border-radius: 20px;
}
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
}

.calendar {
    background: var(--main-color);
    border-radius: 20px;
    padding: 10px; 
    box-shadow: 3px 3px 0px 0px rgba(42, 42, 42, 0.5);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px; 
    padding-top: 10px;
}

.calendar-header button {
    background: none;
    border: none;
    font-size: 20px; 
    cursor: pointer;
    padding: 0;
    margin-left: 20px;
    margin-right: 20px;
}

.calendar-header h3 {
    margin: 0;
    font-size: 18px;
}

.calendar-weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    font-weight: bold;
    color: #555;
    font-size: 13px;
    padding-top: 5px;
}

.calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: 27px; 
    text-align: center;
    gap: 2px; 
    font-size: 12px;
}

.calendar-days div {
    border-radius: 50%;
    cursor: pointer;
    font-size: 10px;
    width: 90%;     
    aspect-ratio: 1;  
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.calendar-days .today {
    background-color: #ff5a5f;
    color: white;
    border-radius: 50%;
}


.calendar-days .other-month {
    color: #aaa;
}
