/*NAVIGATION BAR*/
#navigbar {
  width: 100px;
  height: 620px;
  background-color: var(--main-color);
  border-radius: 90px;
  position: absolute;
  top: 25px;
  left: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px 0;
  gap: 15px;
}

#notesButton,
#customButton,
#tasksButton,
#aboutButton {
  width: 60px;
  height: 60px;
  background-color: var(--button-color);
  border-radius: 50%;
  flex-shrink: 0;
  box-shadow: 3px 3px 0px 0px rgba(42, 42, 42, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
}

#pomodoroButton {
  width: 60px;
  height: 60px;
  background-color: var(--button-color);
  border-radius: 50%;
  flex-shrink: 0;
  box-shadow: 3px 3px 0px 0px rgba(42, 42, 42, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}

#notesButton:hover,
#customButton:hover,
#tasksButton:hover,
#aboutButton:hover,
#pomodoroButton:hover{
    background-color: var(--button-hover);
}

#notesButton:active,
#customButton:active,
#tasksButton:active,
#aboutButton:active,
#pomodoroButton:active{
    transform: scale(.97);
    box-shadow: none;
} 

#navigbar img {
    transform: scale(1.5);
}
