.timer-container {
  width: 50px;
  height: 655px;
  background-color: #3e31ff;
  border-radius: 30px;
  overflow: hidden;
  position: absolute;
  top: 25px;
  left: 1130px;
  z-index: 999;
}

.timer-fill {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;               
  background-color: #06003cff;
  transition: height 0.3s linear;
}
